<h2>this is the polls index page </h2>
<%= react_component 'Main' %>



<script>
/*
  this works and is left for reassurance
  $.ajax({
    url: '/polls.json',
    type: 'GET',
    success: function(data){
      console.log(data);
    }
  });
*/
</script>