// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poll-index-header{
  background: orange;
}

.poll-index-item{
  background: lightyellow;
}

.poll-index-item:hover {
  background: lightgray;
  cursor: pointer;
}

.long-button{
  width: 90%;
}

.title{
  background: lightblue;
}

.candidate{
  background: lightyellow;
}

.buttonArray {
  background: lightgreen;
}

button:disabled{
  background: darkgrey;
}