// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poll-index-header{
  background: orange;
}

.poll-index-item{
  background: lightyellow;
}

.long-button{
  width: 90%;
}